@keyframes slide {
    0% { transform: translateX(570px); }
    100% { transform: translateX(-100%); }
}
@-webkit-keyframes slide {
    0% { transform: translateX(570px); }
    100% { transform: translateX(-100%); }
}

.navigation-message-text {
    white-space: nowrap;
    -moz-animation: slide 60s linear infinite;
    -webkit-animation: slide 60s linear infinite;
    animation: slide 60s linear infinite;
}

.navigation-message-text:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

#navigation-message a {
    color: #41a5f1;
    font-weight: bold;
}

#site-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#site-header {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#site-header h2 {
    display: inline;
    vertical-align: middle;
    font-family: 'Exo 2', sans-serif;
}

#site-content {
    height: calc(100% - 45px - 19px);
}

#site-modal .header {
    color: #db2828;
}

#site-footer, #status-line, #donate-line {
    background-color: #0E6EB8;
    bottom: 0;
    font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
    font-size: 13px;
    height: 19px;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
}










.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background: #FFD700;
    }
}



